<div class="container-fluid p-3 w3-yellow">
    <div class="row">
        <div class="col-sm-2 p-0 d-flex justify-content-center align-items-center">
            <img src="assets/images/auto logo 150x150.png" alt="Company Logo">
        </div>

        <div class="col-sm-8 p-0 d-flex justify-content-center align-items-center">
            <div class="col">
                <h1 class="text-center text-color1">Broadway</h1>
                <p class="text-muted text-center m-0">The best car gallery and renting center</p>
            </div>
        </div>

        <div class="col-sm-2 p-0 d-flex justify-content-center align-items-center"></div>
    </div>
</div>