<div class="row">

  <!-- <ul>
    <li *ngFor="let item of cars"> -->

  <!-- <ng-template ngFor let-row [ngForOf]="getDisplayItemsRowNumber()" let-j="index"> -->
    <div class="card-deck d-flex justify-content-sm-center col-sm-12 m-0 px-3 py-3">
        <!-- <ul>
      <li *ngFor="let car of cars | paginate: { itemsPerPage: 10, currentPage: p }"> -->
      <!-- <ng-template ngFor let-car [ngForOf]="cars" let-i="index"> -->
        <!-- <ng-template [ngIf]="itemsLimitPerRow * j <= i && i < itemsLimitPerRow * ( j + 1 )">             -->
            
          <!-- <div class="card shadow-sm col-sm-2 p-0">
            <img src="assets/images/newCars/{{ car.imageFile }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ car.title }}</h5>
                <p class="card-text">           
                  <span class="buyausedcar-item-property">Item No. {{ car.id }}</span>
                  <span class="buyausedcar-item-property">{{ car.enginePower }}</span>
                  <span class="buyausedcar-item-property">{{ car.engineSize }}</span>
                  <span class="buyausedcar-item-property">{{ car.fuelType }}</span>
                  <span class="buyausedcar-item-property">{{ car.transmitionType }}</span>
                  <span class="buyausedcar-item-property">{{ car.extraInfo }}</span>
                </p>
                <p class="card-text"><small class="text-muted">{{ car.price }}</small></p>
              </div>
          </div> -->

        <!-- </ng-template>         -->
      <!-- </ng-template>   -->
      <!-- </li>
    </ul> -->
      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
      <!-- <ul>
        <li *ngFor="let car of cars"> ... </li>
      </ul> -->
      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
        
    </div>
  <!-- </ng-template>  -->

</div>

<!-- <ul>
    <li> Emp Name | Emp code</li>
    <li *ngFor="let item of collection | paginate:{itemsPerPage: 5, currentPage:p}">{{item.name}} | {{item.code}}</li>
    </ul>
    <pagination-controls (pageChange)="p=$event"></pagination-controls> -->