.btn-color1 {
  color: white;
  background-color: #c5d5cb;
  border: none !important;
}

.btn-color1:hover {    
  background-color: #acc3b5;   
  border: none !important;
}

.btn-color1:active {    
  background-color: #acc3b5 !important; 
  border: none !important;
}

.btn-color1:visited {    
  background-color: #acc3b5 !important; 
  border-color: red  !important;
}

.text-color1 {
  color: #82817d;
}

.clickable {
  cursor: pointer;
}

.bg-image {
  background: url("src/assets/images/bmw8_bg.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed; 
  padding: 125px 0;
}

.bg-image-caption {
  color: whitesmoke;
  text-align: center;
}