<div class="row py-5">
    <div class="col-sm-6 mb-3">
        <div class="card shadow-sm">
            <div class="row">
                <div class="card-body col-sm-6 w3-green-l4">
                    <h5 class="card-title">Full Electric Car</h5>
                    <p class="card-text">Fully electric vehicles are ideal for people who can charge 
                        their battery at home or at work. Nowadays, more and more public charging 
                        stations are being opened, especially in metro areas and along motorways. 
                        This means that in the future, it will be more and more easy to make long-distance 
                        trips.</p>
                    <a href="https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/Innovation/evs-explained/ee-02-media-hd-en.jpg?imwidth=1920" 
                       class="btn btn-primary btn-color1">Read more</a>
                </div>
                
                <img class="card-body col-sm-6" src="assets/images/Full Electric Car 500x281.png" alt="Full Electric Car">                
            </div>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="card shadow-sm">
            <div class="row">
                <div class="card-body col-sm-6 w3-green-l4">
                    <h5 class="card-title">Hybrid Car</h5>
                    <p class="card-text">With less fuel consuming the vehicle can go farther 
                        on a full tank of petrol or diesel. Mild hybrids are ideal for motorists who are 
                        looking for maximum range combined with low fuel consumption and who don’t want 
                        to worry about charging the battery. The main advantage of a mild hybrid is its 
                        fuel consumption.</p>
                    <a href="https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/Innovation/evs-explained/ee-03-media-hd-en.jpg?imwidth=1920" 
                       class="btn btn-primary btn-color1">Read more</a>
                </div>
                
                <img class="card-body col-sm-6" src="assets/images/Hybrid Car 500x281.png" alt="Hybrid Car">                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card-deck m-0 px-3 py-5 w3-green-l4">    
        <div class="col-sm-4 ml-0 p-0 card shadow-sm rounded">      
            <img src="assets/images/Buy A New Car 325x150.png" class="card-img-top clickable" alt="Sell A Car"
                onclick="$('#pills-buyANewCar-tab').tab('show')">        
            <div class="card-body">
                <h5 class="card-title">Buy a new car</h5>
                <p class="card-text">Choose one of the best car offered by our auto shop. It is our duty to 
                    assist you through the buying process. Enjoy the driving.</p>
            </div>            
            <div class="card-footer">
                <small class="text-muted">Take the benefit of installment purchase</small>
            </div>            
        </div>   

        <div class="col-sm-4 p-0 card shadow-sm rounded">
            <img src="assets/images/Buy A Used Car 325x150.png" class="card-img-top clickable" alt="..." 
                onclick="$('#pills-buyAUsedCar-tab').tab('show')">
            <div class="card-body">
                <h5 class="card-title">Buy a used car</h5>
                <p class="card-text">We assure you for the quality and the good condition of the used cars we 
                    sell. Come to our shop, take a test drive, and own the one best fitted for you.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">One year warranty for used cars</small>
            </div>
        </div>

        <div class="col-sm-4 mr-0 p-0 card shadow-sm rounded">
            <img src="assets/images/Rent A Car 325x150.png" class="card-img-top clickable" alt="..."
                onclick="$('#pills-rentACar-tab').tab('show')">
            <div class="card-body">
                <h5 class="card-title">Rent a car</h5>
                <p class="card-text">Try the new cars we provide. Let us know where you want to get it, we will 
                    bring it for you.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">We bring your vehicle to your desired location</small>
            </div>
        </div>
    </div>
</div>

<div class="row bg-image d-flex justify-content-sm-center">
  <div class="col-sm-4 bg-image-caption">
    <h5>BMW 8 Coupe</h5>
    <p>The extravagantly powerful BMW 8 Series Convertible M Automobiles elevate the allure of open-top driving 
      to create a new standard of driving luxury.</p>
  </div>
</div>  

<div class="row py-5">
    <div class="col-sm-7 px-3 pb-3">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
            </ol>

            <div class="carousel-inner rounded-sm">
                <div class="carousel-item active" data-interval="3000">
                    <img src="assets/images/carousel/bmw 8 coupe 1280x560.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>BMW 8 Coupe</h5>
                        <p>Combines the character of a sports car with the spirit of the BMW luxury class.</p>
                    </div>
                </div>

                <div class="carousel-item" data-interval="3000">
                    <img src="assets/images/carousel/bmw x6 1280x560.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>BMW X6</h5>
                        <p>Uncompromisingly non-conformist provocative self-assertiveness.</p>
                    </div>
                </div>

                <div class="carousel-item" data-interval="3000">
                    <img src="assets/images/carousel/bmw 7 1280x560.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>BMW 7 Sedan</h5>
                        <p>Extraordinary presence, maximum performance and unique comfort.</p>
                    </div>
                </div>
                
                <div class="carousel-item" data-interval="3000">
                    <img src="assets/images/carousel/bmw x7 1280x560.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>BMW X7</h5>
                        <p>Majestic appearance and elegant fusion of presence and personality.</p>
                    </div>
                </div>

                <div class="carousel-item" data-interval="3000">
                    <img src="assets/images/carousel/bmw i8 1280x560.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>BMW i8</h5>
                        <p> Inspiring, fascinating and ready to reinterpret mobility.</p>
                    </div>
                </div>
                
                <div class="carousel-item" data-interval="3000">
                    <img src="assets/images/carousel/bmw z4 1280x560.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>BMW Z4</h5>
                        <p> Driving pleasure knows no bounds.</p>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    
    <div class="col-sm-5 px-3">       
        <div class="row justify-content-between">
            <div class="card border-light mb-3 shadow-sm" style="max-width: 23rem;">
                <div class="card-header">Tips</div>
                <div class="card-body py-3">
                  <h5 class="card-title">Stay awake while driving</h5>
                  <p class="card-text">Long distance driving makes you tired, so falling asleep is a real danger. 
                      But how do you prevent that? Coffee? Loud music? Or a break and a cat nap?
                      <a href="https://www.bmw.com/en/automotive-life/how-to-stay-awake-while-driving.html" class="streched-link">
                          Read more ..</a>
                  </p>
                </div>
            </div>
            
            <div class="card border-light mb-3 shadow-sm" style="max-width: 23rem;">
                <div class="card-header">Tips</div>
                <div class="card-body py-3">
                    <h5 class="card-title">Electric cars a practical choice</h5>
                    <p class="card-text">Which kinds of electric cars can you buy nowadays? What makes a plug-in 
                        hybrid different from a mild hybrid? 
                        <a href="https://www.bmw.com/en/innovation/Plug-in-hybrid-and-other-kinds-of-electric-cars.html" class="streched-link">
                            Read</a> on to find the answers in our comparison of 
                        electric cars.
                    </p>
                </div>
            </div>
        </div>    
    
        <div class="card border-success">
            <div class="card-header bg-transparent border-success">Mobility is on the threshold of a new era.</div>
            <div class="card-body text-success py-3">
                <h5 class="card-title">Self-driving cars and digitization</h5>
                <p class="card-text">The semi-automated systems (level 2) necessary for autonomous driving are 
                    already a reality, while systems for mass-producing self-driving cars (level 3) are in 
                    development, representing a quantum leap in technology.
                    <a href="https://www.bmw.com/en/innovation/the-development-of-self-driving-cars.html" class="streched-link">
                        Read</a> on to learn how autonomous driving is developing.
                </p>
            </div>
            <div class="card-footer bg-transparent border-success">Self-driving cars? Like child’s play.</div>
        </div>
    </div>
</div>